/* CSS custom properties (variables) */

:root {
  /*Colors*/
  --black: hsl(0 0% 6.67%);
  --white: hsl(0 0% 100%);
  --yellow: hsl(46.8 88.7% 63.2%);
  --grey: hsl(0 0% 49.8%);

  /*Fonts*/
  --ff: "Figtree", sans-serif;
  --fs-heading: 1.25rem;
  --fs-body--m: 0.875rem;
  --fs-body--s: 0.75rem;
  --fw-regular: 500;
  --fw-bold: 800;
  --spacing-1: 0.75rem;
  --spacing-2: 1.5rem;

  @media screen and (min-width: 48em) {
    --fs-heading: 1.5rem;
    --fs-body--m: 1rem;
    --fs-body--s: 0.875rem;
  }
}


/* CSS Reset */
html {
  box-sizing: border-box;

}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 150%;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}



/* Styles */
body {
  display: grid;
  place-items: center;
  color: var(--black, #111);
  background: var(--yellow, #F4D04E);
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  padding: var(--spacing-2);
}

.card {
  border-radius: 1.25rem;
  border: 1px solid var(--black, #111);
  background: var(--white, #FFF);
  box-shadow: 8px 8px 0px 0px #000;
  padding: var(--spacing-2);
  max-width: 24rem;
  transition: box-shadow 0.3s ease-in;

}

.card:hover {
  box-shadow: 16px 16px 0px 0px #000;
}

.card__link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.card:hover .card__link {
  color: var(--yellow, #F4D04E);
}

.card:focus-within {
  box-shadow: 16px 16px 0px 0px #000;
}

.card:focus-within .card__link {
  color: var(--yellow, #F4D04E);
}

.card__link:focus-visible {
  text-decoration: underline;
  outline: none;
}

.card__img {
  margin-bottom: var(--spacing-2);
  border-radius: 0.625rem;
}

.card__category {
  border-radius: 0.25rem;
  background: var(--yellow, #F4D04E);
  font-size: var(--fs-body--s);
  font-weight: var(--fw-bold);
  padding: 0.25rem 0.75rem;
  max-width: fit-content;
  margin-bottom: var(--spacing-1);
}

.date {
  font-size: var(--fs-body--s);
  font-weight: var(--fw-regular);
  margin-bottom: var(--spacing-1);
}

.card__title {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  margin-bottom: var(--spacing-1);

}


.card__description {
  font-size: var(--fs-body--m);
  font-weight: var(--fw-regular);
  margin-bottom: var(--spacing-2);
  color: var(--grey, #7F7F7F);
}

.author {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);

}

.author__img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;

}

.author__name {
  font-size: var(--fs-body--s);
  font-weight: var(--fw-bold);
  color: var(--black, #111);
}